* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

.cover {
    position: relative;
}

.cover a {
    position: relative;
    font-size: 20px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin-right: 27px;
    text-decoration: none;
    font-weight: 450;
    transition: transform 0.2s ease-in-out;
    padding: 13px;
}

.cover a:hover {
    color: #ffffffce;
    transform: translateY(-3px);
}

#shop-bag:hover {
    opacity: 80%;
}

.cover img {
    width: 100%;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, transparent, #ffffff);
}

.nav {
    position: absolute;
    top: 29px;
    right: 207px;
    display: flex;
    align-items: center;
    font-weight: 450;
}

#shop-bag {
    margin-left: 83px;
    height: 30px;
    width: 28px;
}

a span.badge {
    position: absolute;
    top: 17px;
    right: 0px;
    right: 5px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    color: #081323;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}

.best-seller-container {
    margin: 0 15%;
}

.best-seller-title h1 {
    font-size: 62px;
    color: #081323;
}

.title-content {
    position: absolute;
    width: 100%;
    top: 235px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1px;
}

.title-content p {
    font-weight: 300;
    font-size: 18px;
    line-height: 165%;
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: 10px 0 10px 0;
    margin: 18px;
}

.title-content h1 {
    font-size: 65px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.input-box {
    height: 59px;
    max-width: 100%;
    width: 25%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    top: 100%;
    border-radius: 50px;
    border: 1px solid #ffffff;
    backdrop-filter: blur(10px);
    margin-top: 1;
    margin-top: 8px;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    padding: 0 25px;
}
.input-box .button {
    border: none;
    background-color: #525a55;
    cursor: pointer;
    border-radius: 50px;
    right: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 11px;
    height: 40px;
    width: 40px;
}

.input-box .button:hover {
    background-color: #525a55d2;
}

::placeholder {
    color: #ffffff;
}
input[type="text"] {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18;
    line-height: 23px;
    color: #ffffff;
    font-size: 16px;
    width: 65%;
}

.parent-container1 {
    margin: 55px 15%;/
}

.site-visit-container {
    height: 300px;
    margin: 138px 0;
    padding: 58px 0;
    background-color: #262626;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: space-between;
    margin: 55px 15%;
}

.best-seller-title-container {
    display: flex;
}

.container2 h1 {
    font-family: "Work Sans";
    font-size: 60px;
    text-align: left;
    color: #081323;
    font-weight: 550;
}

.best-seller-product-container {
    display: flex;
    justify-content: space-between;
}

.reference-container {
    margin: 120px 15%;
}

.container5 {
    border: 1px solid;
    display: flex;
    cursor: pointer;
}

.container6 {
    display: flex;
    margin-top: 50px;
    cursor: pointer;
    border: 1px solid;
}

.best-seller-title p {
    font-weight: 500;
    font-size: 21px;
    color: #4f4f4f;
    margin-bottom: 40px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: fit-content;
}

.best-seller-title p:hover {
    transform: translateX(12px);
    cursor: pointer;
    font-weight: 600;
}

.best-seller-title img {
    margin-left: 10p;
    margin-left: 18px;
    height: 22px;
}

.seller-container img:hover {
    opacity: 80%;
}

.services-item {
    display: flex;
}

.services-item img {
    margin: 25px 20px 0 0;
}

.desc h2 {
    font-weight: 450;
    font-size: 22px;
}

.desc p {
    font-size: 14px;
    color: #828282;
}

.product-container {
    width: 30%;
    margin: 20px;
    height: 373px;
}

.product {
    width: 30%;
    height: max-content;
    box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
    border-radius: 25.8353px;
    box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
    transition: transform 0.7s;
}

.product:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.product img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
}

.content {
    margin: 0 30px 70px;
}

.product .info {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.content p {
    display: flex;
    justify-content: space-between;
}

.content img {
    width: 40px;
    height: 40px;
}

.content img:hover {
    cursor: pointer;
    opacity: 70%;
}

.info p {
    font-size: 1vw;
    font-weight: 400;
}

.info .price {
    font-size: 17px;
    margin-top: -20px;
    margin-bottom: 20%;
}

.label-container {
    display: flex;
}

.label {
    width: 75px;
    margin: 0 10px 0 0;
    border-radius: 50px;
    border: 1.61471px solid #dcb47a;
    background: #f6fff6;
    color: #dcb47a;
    font-size: 14px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.reference-title {
    text-align: center;
}

.reference-title h1 {
    color: #081323;
    font-weight: 550;
    font-size: 50px;
}

.reference-title p {
    text-align: center;
    font-size: 20px;
}

.ref-box {
    /* border: 1px solid; */
    display: flex;
    margin: 60px 0;
}

.block-1 img {
    width: 100%;
}

.block-1 img:hover {
    cursor: pointer;
    opacity: 0.8;
}

#living-room {
    filter: brightness(0.7);
}

#see-all {
    filter: brightness(0.7);
}

.block-1 h1 {
    position: absolute;
    color: #fff;
    font-size: 55px;
}

.block-2 h1 {
    position: absolute;
    color: #fff;
    font-size: 55px;
}

.block-1:nth-of-type(1) {
    flex-grow: 2;
    margin-right: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-1:nth-of-type(2) {
    flex-grow: 1;
    margin-left: 35px;
}

.block-2 img {
    width: 100%;
}

.block-2 img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.block-2:nth-of-type(1) {
    flex-grow: 1;
    margin-right: 35px;
}

.block-2:nth-of-type(2) {
    flex-grow: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.view-button {
    border: none;
    color: white;
    padding: 21px 55px;
    text-align: center;
    font-size: 13px;
    margin: 4px 2px;
    background: #dcb47a;
    border-radius: 60px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 3px;
}

.view-button:hover {
    background: #dcb57ada;
}

.footer-container {
    margin-top: 5%;
    display: flex;
    margin: 10px 10%;
}

.all-rights-container {
    margin: 35px 8% 40px;
    border-top: 1px solid #000000;
    text-align: center;
}

.all-rights-container h3 {
    font-weight: 500;
    margin-top: 45px;
}

.footer-block:nth-of-type(1) {
    flex-grow: 10;
}

.footer-block:nth-of-type(2) {
    flex-grow: 1;
}

.footer-block:nth-of-type(3) {
    flex-grow: 1;
}

.footer-block:nth-of-type(4) {
    flex-grow: 1;
}

.footer-block:nth-of-type(5) {
    flex-grow: 1;
    width: 296px;
}

.footer-block h2 {
    font-weight: 750;
    margin: 30px 0;
    font-size: 20px;
}

.footer-block p {
    font-size: 14px;
    font-weight: 450;
    border: 1px saddlebrown;
}

.footer-block a {
    text-decoration: none;
}

.footer-form {
    width: 75;
    border: 1px solid;
    display: flex;
    height: 55px;
    color: black;
    border-radius: 50px;
    width: 85%;
    justify-content: center;
    margin-top: 111px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #878787;
    backdrop-filter: blur(10px);
    border-radius: 50px;
}

.footer-form input[type="text"] {
    padding: 10px;
    color: black;
    border-style: none;
    margin: 10px;
}

.footer-form ::placeholder {
    color: #878787;
}

.footer-form input:focus[type="text"] {
    outline: none;
}

.subscribe-button {
    border-radius: 50px;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #dcb47a;
    margin: 10px;
    font-size: 15px;
    font-weight: 300;
}

.subscribe-button:hover {
    background: #dcb57ada;
    cursor: pointer;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
    cursor: pointer;
    font-weight: 450;
    font-family: "Work Sans";
    margin-right: 27px;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    padding: 13px;
}

.dropdown .dropbtn:hover {
    color: #ffffffce;
    transform: translateY(-3px);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #262626;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    margin: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.dropdown-content a:hover {
    background-color: #201e1e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    border: solid #fffffff5;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 5px 3px;
}

.down {
    transform: rotate(45deg);
}

.seller-container p:hover {
    color: #363535;
    cursor: pointer;
    font-weight: 600;
}

.site-visit-container h1 {
    margin: 0;
    font-weight: 600;
    font-size: 50px;
    color: #fff;
}

.site-visit-container span {
    color: #dcb47a;
}

.site-visit-container p {
    color: #ffffff;
}

.site-visit-container button {
    margin-top: 20px;
}

.footer-block ul {
    padding: 0;
}

.footer-block a {
    list-style-type: none;
    color: #000;
    font-size: 14px;
    font-weight: 450;
    padding: 18px 0 0;
}

.footer-block {
    width: 157px;
}

.email-block {
    flex-grow: 5;
}

.footer-block p {
    transition: transform 0.3s ease-in-out;
}

.footer-block p:hover {
    font-weight: 700;
    transform: translateX(8px);
}
